/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@400;700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
  --primary-color: white;
  --color-green: #004F44;
  --big-spacing: 60px;
  --spacing: 40px;
  --small-spacing: 20px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: var(--primary-color);
}

body{
  font-family: "DM Sans";
}

header{
  display: flex;
  border-bottom: 1px solid white;
  justify-content: space-between;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-bottom: 0;
  font-size: 18px;
  font-weight: 200;
  background-color: #004F44;
}

.home-button{
  margin-top: 5px;
  height: 60px;
}
.nav-left{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-top: 25px;
}

.nav-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 25px;
}

.search-icon,
.user-icon,
.bag-icon{
  color: var(--primary-color);
  margin-right: 20px;
}

.dropbar-menu{
  display: none;
}

@media (max-width: 680px){
  .dropbar-menu{
    display: flex;
    margin-top: 25px;
  }
 
  .nav-left{
    display: none;
  }

.search-icon,
.user-icon,
.bag-icon{
  color: var(--primary-color);
  margin-right: 10px;
}
}

.sub-navbar{
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: var(--big-spacing) var(--spacing);
  background-color: #004F44;
  color: white;
  height: 500px;
}

.left-block{
  display: grid;
  grid-template-columns: 170px 170px;
  grid-template-rows: 1fr 1fr 1fr;
  align-content: center;
  align-items: center;
  width: fit-content;
  height: 400px;
  gap: 20px;
}

h1{
  grid-column: 1/ 3;
  grid-row: 1 / 2;
  font-family: "corben";
  font-weight: 400;
  font-size: 64px ;
  line-height: 60px;
}
.left-block p{
  font-weight: 100;
  font-size: 17px;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.shop-button{
  border: 2px solid white;
  background-color: white;
  color: #004F44;
  padding: 10px 10px;
  text-align: center;
}
.explore-button{
  font-weight: 100;
  font-size: 17px;
  text-align: center;
  border: 2px solid white;
  padding: 10px 10px;
}

.right-block{
  display: grid;
  grid-template-columns: 150px 300px;
  grid-template-rows: 200px 200px;
  gap: 10px;
}
.right-block a{
  color: #004F44;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
}
.img3{
  background-image: url(./assets/image\ 3.png);
  background-size: cover;
  background-position: center;
}
.img2{
  background-image: url(./assets/image\ 2.png);
  background-size: cover;
  background-position: center;
}

.img1{
  background-image: url(./assets/image\ 1.png);
  background-size: cover;
  background-position: center;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

@media (max-width: 1020px){
  .right-block{
    display: none;
  }
}

.section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--big-spacing) var(--spacing);
}
h2{
  color: #004F44;
  font-weight: 100;
  font-size: 40px;
}
h3{
  color: #004F44;
  font-weight: 100;
  font-size: 24px;
}

.section-cards{
  display: grid;
  grid-template-columns: repeat(5, 300px);
  gap: 20px;
  padding: 0 var(--spacing);
  overflow: auto;
}
.card-image{
  width: 300px;
}
.name-tag{
  display: flex;
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding-top: 10px;
  font-weight: 300;
  color: #004F44;
}
.color-tag{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.color-tag p{
  color: #004F44;
  font-weight: 100;
}
.color-tag img{
  width: 80px;
}
.buy-button{
  background-color: white;
  color: #004F44;
  border: 2px solid #004F44;
  width: 80px;
}

.search-bar{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #004F44;
  opacity: 0.5;
  padding: var(--big-spacing) var(--spacing);
  margin-top: 80px;

}

.search-bar a{
  border: 2px solid white;
  border-radius: 20%;
  height: 30px;
  align-self: center;
}

.search-bar input{
  border: 2px solid white;
  height: 30px;
  width: 600px;
  margin: 0px 10px;
  color: #004F44;
}

.section-new{
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 300px;
  gap: 20px;
  padding: var(--big-spacing) var(--spacing);
  overflow: auto;
}
.bluelily{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  background-image: url(./assets/image\ 14.png);
  opacity: 0.8;
}

.new-img1{
  background-image: url(./assets/image\ 15.png);
}
.new-img2{
  background-image: url(./assets/image\ 16.png);
}
.new-img3{
  background-image: url(./assets/image\ 17.png);
}

h4{
  color: white;
  font-weight: 100;
  font-size: 40px;
}
h5{
  color: white;
  font-weight: 100;
  font-size: 24px;
}

#stands{
  background-color: #004F44;
  opacity: 0.5;
  padding: var(--big-spacing) var(--spacing);
}

.section-stands{
  background-color: #004F44;
  opacity: 0.5;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: 400px;
  gap: 20px;
  padding: 0 var(--spacing);
  padding-bottom: 80px;
  overflow: auto;
}
.stand-img1{
  background-image: url(./assets/image\ 5.png);
}
.stand-img2{
  background-image: url(./assets/image\ 6.png);
}
.stand-img3{
  background-image: url(./assets/image\ 7.png);
}

footer{
  display: flex;
  gap: 150px;
  height: 400px;
  margin-top: 80px;
  padding: var(--big-spacing) var(--spacing);
  background-image: url(./assets/image\ 13.jpg);
  background-size: cover;
}

h6{
  color: #9C6955;
  font-weight: 100;
  font-size: 40px;
}
.number,
.mail{
  color: #9C6955;
  font-weight: 200;
  align-self: center;
  padding-top: 20px;
}

.location p{
  color: #9C6955;
  font-weight: 200;
  line-height: 25px;
}
#icon{
  color: #9C6955;
  font-weight: 100;
  font-size: small;
}

@media (max-width: 725px) {
  footer{
    gap: 75px;
  }
}
@media (max-width: 600px) {
  footer{
    flex-wrap: wrap;
    height: fit-content;
  }
}